:root {
    --primary-color: #2C3E50;
    /* Azul Escuro */
    --secondary-color: #3498DB;
    /* Azul Claro */
    --background-color: #ECF0F1;

    --background-color-secondary: #487aa1;
    /* Cinza Claro */
    --text-color: #3d3c3b;
    /* Azul Escuro */
    --secondary-text-color: #7c8071;
    /* Cinza Escuro */
    --button-color: #3498DB;
    /* Azul Claro */
    --button-hover-color: #2980B9;
    /* Azul Hover */
  }